{% load static %}

<div class="ps-home-benifits">
    <div class="" style="background-image: url('{% static 'img/homepage/home-1/services/1.png' %}');background-repeat:no-repeat;"  >
        <div class="container">
            <div class="ps-section__content">
                <h5>Benefits of hired developers</h5>
                <ul class="ps-list--dot">
                    <li style="color: black;">RentACoder has a live chat feature that allows for instant communication with developers.</li>
                    <li style="color: black;">These are platforms that help connect talented developers with their next client, anywhere in the world.</li>
                    <li style="color: black;">Clients can choose between listing a project or running a contest.</li>
                    <li style="color: black;">Free of cost registration is provided for the users who wish to register at its site</li>
                </ul><a class="ps-btn ps-btn--white ps-btn--shadow" href="{% url 'services:services_index' %}">Learn more</a>
            </div>
        </div>
    </div>
</div>


