{% extends 'core/layout.html' %}
{% load static %}

<div class="ps-blog ps-blog--list">
    <div class="container">
      <div class="ps-blog__header">
        <ul class="ps-blog__categories">
          <li class="active"><a href="#">Design Style</a></li>
          <li><a href="#">Technology</a></li>
          <li><a href="#">Mobile</a></li>
          <li><a href="#">Marketing</a></li>
          <li><a href="#">Living</a></li>
        </ul>
        <div class="ps-block--about-author">
          <div class="ps-block__header">
            <h4>About Author</h4>
          </div>
          <div class="ps-block__image"><img src="img/users/4.jpg" alt=""></div>
          <div class="ps-block__content">
            <h5>Jont hennry cook</h5>
            <p>Aenean id ullamcorper libero. Vestibulum imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna. Duis lacus urna, condimentum a vehicula</p>
            <ul class="ps-list--social simple">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="ps-blog__content">
      <div class="ps-post--list">
        <div class="ps-post__thumbnail bg--cover" data-background="img/blog/blog-list/1.jpg"><a class="ps-post__overlay" href="#"></a><img src="img/blog/blog-list/1.jpg" alt=""></div>
        <div class="ps-post__content">
          <div class="ps-post__header">
            <p>August 6, 2019</p><a class="ps-post__title" href="#">Love Story from Helios</a>
            <p>Designer Style</p>
          </div>
          <div class="ps-post__desc">
            <p>Morbi mollis vestibulum sollicitudin. Nunc in eros a justo facilisis rutrum. Aenean id ullamcorper libero. Vestibulum imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate, tortor nec commodo ultricies, <span class="highlight"> lectus nisl facilisis enim</span>, vitae viverra urna nulla sed turpis. Nullam lacinia faucibus risus, a euismod lorem tincidunt id.</p><a class="ps-post__morelink" href="blog-detail.html">Continue Reading</a>
          </div>
          <div class="ps-post__footer">
            <ul class="ps-list--social simple">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul><span>By<a href="#"> John kook</a></span><span>23 comment</span>
          </div>
        </div>
      </div>
      <div class="ps-post--list reverse">
        <div class="ps-post__thumbnail bg--cover" data-background="img/blog/blog-list/2.jpg"><a class="ps-post__overlay" href="#"></a><img src="img/blog/blog-list/2.jpg" alt=""></div>
        <div class="ps-post__content">
          <div class="ps-post__header">
            <p>August 20, 2019</p><a class="ps-post__title" href="#">Blog with photo</a>
            <p>Mobile</p>
          </div>
          <div class="ps-post__desc">
            <p>Sed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate, tortor nec commodo ultricies,enim, vitae viverra urna nulla sed turpis. Nullam lacinia faucibus risus</p><a class="ps-post__morelink" href="blog-detail.html">Continue Reading</a>
          </div>
          <div class="ps-post__footer">
            <ul class="ps-list--social simple">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul><span>By<a href="#"> John kook</a></span><span>23 comment</span>
          </div>
        </div>
      </div>
      <div class="ps-post--list video">
        <div class="ps-post__thumbnail bg--cover" data-background="img/blog/blog-list/3.jpg"><a class="ps-post__overlay" href="#"></a><img src="img/blog/blog-list/3.jpg" alt="">
          <div class="ps-video"><a href="https://www.youtube.com/watch?v=g2CEmewuugo"></a>
            <div class="ps-btn"></div>
          </div>
        </div>
        <div class="ps-post__content">
          <div class="ps-post__header">
            <p>August 20, 2019</p><a class="ps-post__title" href="#">Blog with video Spring</a>
            <p>MARKETING</p>
          </div>
          <div class="ps-post__desc">
            <p>Morbi mollis vestibulum sollicitudin. Nunc in eros a justo facilisis rutrum. Aenean id ullamcorper libero. Vestibulum imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate, tortor nec commodo ultricies, <span class="highlight"> lectus nisl facilisis enim</span>, vitae viverra urna nulla sed turpis. Nullam lacinia faucibus risus, a euismod lorem tincidunt id.</p><a class="ps-post__morelink" href="blog-detail.html">Continue Reading</a>
          </div>
          <div class="ps-post__footer">
            <ul class="ps-list--social simple">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul><span>By<a href="#"> John kook</a></span><span>23 comment</span>
          </div>
        </div>
      </div>
      <div class="ps-post--list reverse">
        <div class="ps-post__thumbnail bg--cover" data-background="img/blog/blog-list/4.jpg"><a class="ps-post__overlay" href="#"></a><img src="img/blog/blog-list/4.jpg" alt=""></div>
        <div class="ps-post__content">
          <div class="ps-post__header">
            <p>August 20, 2019</p><a class="ps-post__title" href="#">Romantics For You</a>
            <p>Technology</p>
          </div>
          <div class="ps-post__desc">
            <p>Sed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate, tortor nec commodo ultricies,enim, vitae viverra urna nulla sed turpis. Nullam lacinia faucibus risus, a euismod</p><a class="ps-post__morelink" href="blog-detail.html">Continue Reading</a>
          </div>
          <div class="ps-post__footer">
            <ul class="ps-list--social simple">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul><span>By<a href="#"> John kook</a></span><span>23 comment</span>
          </div>
        </div>
      </div>
    </div>
    <div class="ps-blog__footer">
      <div class="container"><a class="ps-link--viewmore" href="#"><span class="ps-icon--dots"><i></i></span> View More</a></div>
    </div>
  </div>