{% extends 'core/layout.html' %}

{% block banner %}
{% include 'core/banner.html' %}
{% endblock banner %}

{% block findjob %}
{% include 'core/findjob.html' %}
{% endblock findjob %}

{% block benefits %}
{% include 'core/benefits.html' %}
{% endblock benefits %}

{% block services %}
{% include 'core/services.html' %}
{% endblock services %}

{% block section_hire_freelancer %}
{% include 'core/section_hire_freelancer.html' %}
{% endblock section_hire_freelancer %}

{% block process %}
{% include 'core/process.html' %}
{% endblock process %}

{% block job_category %}
{% include 'core/job_category.html' %}
{% endblock job_category %}

{% block join_us %}
{% include 'core/join_us.html' %}
{% endblock join_us %}
