{% load static %}

<div class="ps-section ps-home-process bg--cover" data-background="{% static 'img/bg/home-4/process.jpg' %}">
    <div class="container">
        <div class="ps-section__header">
            <h3 style="color:#4f4f6f;">Process to get started</h3>
            
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                <div class="ps-block--process">
                    <div class="ps-block__thumbnail"><img src="{% static 'img/icons/home-1/process-1.png' %}" alt="" style="margin-left: 150px;"></div>
                    <div class="ps-block__contentz">
                        <p style="color:black;"><span><i>1</i></span>Sign up for a account</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                <div class="ps-block--process">
                    <div class="ps-block__thumbnail"><img src="{% static 'img/icons/home-1/process-2.png' %}" alt="" style="margin-left: 10px;"></div>
                    <div class="ps-block__content">
                        <p style="color:black;"><span><i>2</i></span>Confirm your email address and add profile</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                <div class="ps-block--process">
                    <div class="ps-block__thumbnail"><img src="{% static 'img/icons/home-1/process-3.png' %}" alt="" style="margin-right: 200px;"></div>
                    <div class="ps-block__content">
                        <p style="color:black;"><span><i>3</i></span>Choice of solutions and post jobs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>