{% extends 'core/layout.html' %} {% load static %} {% block body %}

<div style="padding-top: 90px" class="ps-page">
  <div
    class="ps-about-intro bg--cover"
    data-background="{% static 'img/bg/pages/about-intro.jpg' %}"
  >
    <div class="container">
      <div class="ps-section__header">
        <p>
          THE BEST <br />
          FREELANCER <br />NETWORK
        </p>
      </div>
      <div class="ps-section__content">
        <h3>R.A.C introduction</h3>
        <p>
          RentACoder is one of the largest coding talent hiring platforms
          specifically for businesses looking for programmers, designers, and
          developers. You simply decide what kind of IT skills you need to
          complete your project and for how long you want your new developer to
          stay with you.
        </p>
      </div>
    </div>
  </div>
  <div class="ps-about-business">
    <div class="container">
      <figure>
        <figcaption>
          <small>ABOUT R.A.C COMPANY</small> R.A.C introduction
        </figcaption>
        <p>
          Rent A Coder (vWorker) brings programmers (or coders) and buyers
          together at the virtual market place which is now the biggest platform
          offering immense potential to be tapped on either side. Its strength
          lies in providing professional coding (or software programming)
          professionals for both long and short term projects to the developers
          which, in turn get their work done by best of the talents.
        </p>
      </figure>
      <figure>
        <figcaption>
          <small>WHY CHOOSE R.A.C </small> Millions of bussinesses <br />
          Worldwide choose R.A.C
        </figcaption>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="ps-block--icon">
              <div class="ps-block__icon"><i class="fal fa-recycle"></i></div>
              <div class="ps-block__content">
                <h5>It’s simpler connect</h5>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="ps-block--icon">
              <div class="ps-block__icon"><i class="fas fa-rocket"></i></div>
              <div class="ps-block__content">
                <h5>It’s faster</h5>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="ps-block--icon">
              <div class="ps-block__icon">
                <i class="fas fa-network-wired"></i>
              </div>
              <div class="ps-block__content">
                <h5>Bets freelancers</h5>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="ps-block--icon">
              <div class="ps-block__icon"><i class="fal fa-bullseye"></i></div>
              <div class="ps-block__content">
                <h5>Quick & easy search</h5>
              </div>
            </div>
          </div>
        </div>
      </figure>
    </div>
  </div>
  <div class="ps-section ps-about--founder">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <div class="ps-section__header">
          <small>MATTOCK FREELANCER</small>
          <h3>Letter from founder</h3>
        </div>
        <p>
          To take advantage of the latest technology and to facilitate clients
          to make online inquires about their project status a tool need to be
          developed. The tool should accomplish the following functions: The
          tool should be able to manage all the projects effectively and ensure
          that projects cycle goes on smoothly and they are completed on time.
          While accepting clients requirements, all necessary validations should
          be performed. It should also store the clients details.
        </p>
        <figure class="ps-block--author-2">
          <div class="ps-block__thumbnail"></div>
          <div class="ps-block__content"></div>
        </figure>
      </div>
    </div>
    <div
      class="ps-section__right bg--cover"
      data-background="{% static 'img/bg/pages/about-founder.jpg' %}"
    >
      <a class="ps-logo" href="#"
        ><img src="{% static 'img/logo-small.png' %}" alt=""
      /></a>
    </div>
  </div>
  <div class="ps-section--2 ps-our-team">
    <div class="container">
      <div class="ps-section__header">
        <h5>Meet our team</h5>
      </div>
      <div class="ps-section__content">
        <div
          class="ps-carousel--nav owl-slider"
          data-owl-auto="true"
          data-owl-loop="true"
          data-owl-speed="50000"
          data-owl-gap="30"
          data-owl-nav="true"
          data-owl-dots="true"
          data-owl-item="3"
          data-owl-item-xs="2"
          data-owl-item-sm="2"
          data-owl-item-md="3"
          data-owl-item-lg="3"
          data-owl-duration="1000"
          data-owl-mousedrag="on"
        >
          <div class="ps-block--team">
            <div class="ps-block__thumbnail">
              <img
                src="{%static 'img/employee/Dhruti.jpg'%}"
                alt=""
                width="170"
                height="
                            170"
              />
              <ul class="ps-list--social simple">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
              </ul>
            </div>
            <div class="ps-block__content"><a href="#">Dhruti Varsani</a></div>
          </div>
          <div class="ps-block--team">
            <div class="ps-block__thumbnail">
              <img
                src="{%static 'img/employee/mira.jpg'%}"
                alt=""
                width="170"
                height="
                            170"
              />
              <ul class="ps-list--social simple">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
              </ul>
            </div>
            <div class="ps-block__content"><a href="#">Mira Kathiriya</a></div>
          </div>
          <div class="ps-block--team">
            <div class="ps-block__thumbnail">
              <img
                src="{%static 'img/employee/images.jfif'%}"
                alt=""
                width="170"
                height="
                            170"
              />
              <ul class="ps-list--social simple">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
              </ul>
            </div>
            <div class="ps-block__content"><a href="#">Vishwa patel</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ps-section--2 ps-our-partner">
    <div class="container">
      <div class="ps-section__header">
        <h5>OUR PARTNERS</h5>
      </div>
      <div class="ps-section__content">
        <div
          class="owl-slider"
          data-owl-auto="true"
          data-owl-loop="true"
          data-owl-speed="10000"
          data-owl-gap="20"
          data-owl-nav="false"
          data-owl-dots="false"
          data-owl-item="6"
          data-owl-item-xs="2"
          data-owl-item-sm="4"
          data-owl-item-md="5"
          data-owl-item-lg="6"
          data-owl-duration="1000"
          data-owl-mousedrag="off"
        >
          <a href="#"
            ><img
              src="{% static 'img/pages/about-us/partner-1.png' %}"
              alt="" /></a
          ><a href="#"
            ><img
              src="{% static 'img/pages/about-us/partner-2.png' %}"
              alt="" /></a
          ><a href="#"
            ><img
              src="{% static 'img/pages/about-us/partner-3.png' %}"
              alt="" /></a
          ><a href="#"
            ><img
              src="{% static 'img/pages/about-us/partner-4.png' %}"
              alt="" /></a
          ><a href="#"
            ><img
              src="{% static 'img/pages/about-us/partner-5.png' %}"
              alt="" /></a
          ><a href="#"
            ><img
              src="{% static 'img/pages/about-us/partner-6.png' %}"
              alt="" /></a
          ><a href="#"
            ><img
              src="{% static 'img/pages/about-us/partner-3.png' %}"
              alt="" /></a
          ><a href="#"
            ><img
              src="{% static 'img/pages/about-us/partner-4.png' %}"
              alt="" /></a
          ><a href="#"
            ><img src="{% static 'img/pages/about-us/partner-5.png' %}" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
