<!-- {% load static %}

{% block body %}

<div class="ps-section--2 ps-services-send-request">
    <div class="container">
      <div class="ps-section__header">
        <h5>Send a request for consultant</h5>
      </div>
      <form class="ps-form--request-consultant" action="http://nouthemes.net/html/athena/index.html" method="get">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="form-group--inline sm">
              <label>Name</label>
              <div class="form-group__content">
                <input class="form-control" type="text" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
            <div class="form-group--inline sm">
              <label>Email</label>
              <div class="form-group__content">
                <input class="form-control" type="text" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
            <div class="form-group--inline sm">
              <label>Company</label>
              <div class="form-group__content">
                <input class="form-control" type="text" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
            <div class="form-group--inline sm">
              <label>Tel</label>
              <div class="form-group__content">
                <input class="form-control" type="text" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
            <div class="form-group--inline sm">
              <label>From month</label>
              <div class="form-group__content">
                <input class="form-control" type="text" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
            <div class="form-group--inline sm">
              <label>To month</label>
              <div class="form-group__content">
                <input class="form-control" type="text" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
            <div class="form-group--inline lg">
              <label>Project obijectives/purpose</label>
              <div class="form-group__content">
                <textarea class="form-control" rows="6"></textarea>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
            <div class="form-group--inline">
              <label>Posittions needed</label>
              <div class="form-group__content">
                <select class="ps-select">
                  <option value="1">UI/UX Design</option>
                  <option value="2">Web Design</option>
                  <option value="3">Mobile App Design</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
            <div class="form-group--inline">
              <label>Specific qualifications</label>
              <div class="form-group__content">
                <select class="ps-select">
                  <option value="1">Master</option>
                  <option value="2">Senior</option>
                  <option value="3">Junior</option>
                  <option value="4">Fresher</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
            <div class="form-group--inline">
              <label>Maximum budget</label>
              <div class="form-group__content">
                <select class="ps-select">
                  <option value="1">500 USD</option>
                  <option value="2">1000 USD</option>
                  <option value="3">Mobile App Design</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
            <div class="form-group--inline">
              <label>Payment method</label>
              <div class="form-group__content">
                <select class="ps-select">
                  <option value="1">Visa</option>
                  <option value="2">Paypal</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="ps-form__footer">
          <button class="ps-btn">Send</button>
          <button class="ps-btn ps-btn--gray">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %} -->