{% load static %}

{% block body %}

<div class="ps-services-estimate">
    <div class="ps-section__left bg--cover" data-background="{% static 'img/bg/pages/services-estimate.jpg' %}"></div>
    <div class="ps-section__right">
        <h4>About Services</h4>
        <p style="color: black;">Rent a coder deals with the various levels of project development and will 
            account for time used in phases viz analysis, design, coding, testing and implementation etc. 
            Hiring an expert in coding via rent a coder helps an employer find a committed individual with experience 
            in the technicalities of a computer.</p>
        
    </div>
</div>
<br><br>
{% endblock %}