{% extends 'core/layout.html' %}
{% load static %}

{% block body %}

<div style="padding-top: 90px;" class="ps-section--sidebar ps-listing"></div>
<div class="ps-section--sidebar ps-listing">
    <div class="container">
        <div class="ps-section__container">
            <div class="ps-section__content">
                
                <div class="ps-section__items">
                   
                    <br>
                    
                        {% for p in alloted_developer %} 
                        
                        <div class="ps-freelancer ">
                            <div class="ps-freelancer__thumbnail">
                                   
                                
                                <img src="  {% static '/img/employee/1.jpg' %}  " alt="">
                                
                            
                        </div>
                            <div class="ps-freelancer__content">
                                <figure>
                                    <figcaption>Project Title : {{p.alloted_project_id_fk.project_title}}</figcaption>
                                    <p> Alloted To: {{p.alloted_developer_id_fk}} <br>
                                     Alloted Price : {{p.alloted_price}} <br>
                                     {% ifequal p.alloted_project_status True %}
                                     Project status: Completed
                                     {% endifequal %}
                                    </p>
 
                                    {% ifequal p.alloted_project_status True %}
                                     
                                        {% ifequal p.paid True %}
                                        <a class="ps-btn ps-btn--outline" href="{% url 'services:genreport' p.id %}">Paid and Generate Report</a>
                                        {% else %}
                                        <a class="ps-btn ps-btn--outline" href="{% url 'services:payment' p.id %}">Pay Now</a>   
                                        {% endifequal %}
                                    {% else %}
                                    <a class="ps-btn ps-btn--outline" href="#">Running</a>
                                    
                                    {% endifequal %}

                                   
                                     
                                        
                                    


                                </figure>
                                <p><strong> Alloted Duration : {{p.alloted_duration}} <br> Alloted Date : {{p.alloted_Date}}
                                        </strong></p>
                                    
                            </div>
                        </div>
                    
                        {% endfor %}
                    

                </div>
                
            </div>
            <div class="ps-section__sidebar">
                
                <div class="widget widget_profile widget_feature-members">
                    <h3 class="widget-title">Featured Members</h3>
                    <figure>
                        {% for vf in feature_members %}
                        <div class="ps-block--company-tiny"><a class="ps-block__thumbnail" href="{% url 'emp_app:pr_client_profile' vf.id %}"><img
                                    src="{{vf.get_client_image_url}}" alt=""></a><a class="ps-block__title"
                                href="{% url 'emp_app:pr_client_profile' vf.id %}"> {{vf.company_name}}</a></div>
                        {% endfor %}

                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}