{% load static %}

{% block body %}

<div style="padding-top: 90px;" class="ps-page">
    <div class="ps-section--top bg--cover" data-background="{% static 'img/bg/pages/brow-employers.jpg' %}">
      <div class="container">
        <div class="ps-section__header">
          <p>BROWSE <br/> Clients</p>
        </div>
        <div class="ps-section__content">
          <form class="ps-form--home-find-job ps-form--top" action="{% url 'core:search_company' %}"
                    method="GET">
            <h1>Find Clients on R.A.C </h1>
            <h5>Where the world meets startups. Millions of small businesses use <br/> Freelancer to turn their ideas into reality</h5>
            <div class="form-group"><i class="fa fa fa-search"></i>
              <input class="form-control" type="text" name='q' placeholder="Enter Company name...">
              <button class="ps-btn ps-btn--gradient" type="submit">Find company</button>
            </div>
            <p>Update the latest jobs and announcements from R.A.C. <a href="{% url 'signup_user:signup_gen' %}"> Join us today</a></p>
          </form>
        </div>
      </div>
    </div>


{% endblock %}