{% load static %}

{% block body %}
<div class="ps-section--sidebar ps-listing">
    <div class="container">
        <div class="ps-section__container">
            <div class="ps-section__content">
                
                <div class="ps-section__items">
                    <h4 class="ps-heading--2 mb-40">{{count}} results</h4>
                
                    {% for client in all_client %}
                    <div class="ps-employer">
                        <div class="ps-employer__thumbnail"><img src="{{client.get_client_image_url}}" alt=""></div>
                        <div class="ps-employer__content">
                            <figure>
                                <figcaption>{{client.company_name}}</figcaption>
                                <p>{{client.location}} · <strong>{{client.Designation}}</strong></p>
                            </figure>
                            <p>{{client.qualification}}</p>
                            <h5><i class="fa fa-briefcase"></i> <strong> {{client.NoOfEmployees}}</strong> · {{client.amount_range}}</h5>
                            
                            <!-- <p class="ps-highlight">{{ client.project_title}}</p>
                                                <p>{{ client.project_details }} · {{ client.project_duration }}</p> -->
                                            
                                                
                                                
                                                

                            <div class="ps-job__desc table-responsive">
                                <table class="table ps-table--job-desc">
                                    <tbody>
                                        <tr>
                                            <td>Project Details</td>
                                            <td>
                                                {% for i in p_pro %}
                                                    {% ifequal client i.client_id_fk %}
                                                    <p class="ps-highlight">{{ i.project_title}}</p>
                                                
                                                    <p>Details : {{ i.project_description }} <br>Durations : {{ i.project_duration }}</p>
                                                    {% endifequal %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                
            </div>
            <!--<div class="ps-section__sidebar">
                
                <div class="widget widget_profile widget_feature-members">
                    <h3 class="widget-title">Featured Members</h3>
                    <figure>
                        {% for vf in feature_members %}
                        <div class="ps-block--company-tiny"><a class="ps-block__thumbnail" href="{% url 'emp_app:pr_client_profile' vf.id %}"><img
                                    src="{{vf.get_client_image_url}}" alt=""></a><a class="ps-block__title"
                                href="{% url 'emp_app:pr_client_profile' vf.id %}"> {{vf.company_name}}</a></div>
                        {% endfor %}

                    </figure>
                </div>
            </div> -->
        </div>
    </div>
</div>
</div>

{% endblock %}