{% extends 'core/layout.html' %}
{% load static %}

{% block body %}
<div class="ps-blog ps-blog--list">
    <div class="container">
        <div class="ps-blog__header">
            
            <div class="ps-block--about-author">
                <div class="ps-block__header">
                    <h4>About {{ pr_profile.company_name }}</h4>                                    
                </div>



                <div class="ps-block__image"><img src="{{pr_profile.get_client_image_url}}" alt=""></div>
                <div class="ps-block__content">
                    <h5>{{pr_profile.user_id_fk.first_name}} {{pr_profile.user_id_fk.last_name}}</h5>
                    <p>{{pr_profile.company_description}}</p>
                    <ul class="ps-list--social simple">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% for pr_project in pr_project %}
    <div class="ps-blog__content">
        <div class="ps-post--list">
            <div class="ps-post__thumbnail bg--cover" data-background="{% static 'img/blog/blog-list/1.jpg' %}"><a
                    class="ps-post__overlay" href="#"></a><img src="{% static 'img/blog/blog-list/1.jpg' %}" alt=""></div>
            <div class="ps-post__content">
                <div class="ps-post__header">
                    <p>{{pr_project.date}}</p><a class="ps-post__title" href="#">{{pr_project.project_title}}</a>
                    <p>{{pr_project.category_id_fk}}</p>
                </div>
                <div class="ps-post__desc">
                    <p>{{pr_project.project_description}}</p>
                </div>
                <div class="ps-post__footer">
                    <ul class="ps-list--social simple">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul><span><a href="#"> {{pr_profile.user_id_fk.first_name}}</a></span>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
    <div class="ps-blog__footer">
        <br>
    </div>
</div>
{% endblock %}